<h1>Random Holiday Generator</h1>

<div class="container">
<p style="color:#40A375; font-size:40px;">Your random holiday is: </p>
<p style="color:black; font-size:40px;"><%= @holiday_name %></p>
<p style="color:#40A375; font-size:30px;">Your holiday takes place on:</p>
<p style="color:black; font-size:30px;"> <%= @holiday_month %> (month) <%= @holiday_day %> (day)</p>
</div>
