  <main>
   <div>
    <h2 style="color:#40A375; font-size:40px; font-family: ui-monospace;">Welcome! <br>This app is designed to generate a random holiday in the United States for you.</h2>
   </div> 

    <p style="color: black; font-size: 20; font-family: ui-monospace;">Click the button below to find out the name of a random holiday:</p>
    <a href="/color-palette" class="btn2">Click Me</a>
  </main>

  <footer>
    <p>Holiday Generator API Mini-project by Reid Aumann</p>
  </footer>
