  <main>
   <div id="animated-text-container">
    <h2 id="animated-text">Welcome! This app is designed to produce a random color palette for you!</h2>
   </div> 

    <p>Click the button below to generate a random color palette:</p>
    <a href="/color-palette" class="btn2">Click Me</a>
  </main>

  <footer>
    <p>Color Palette Generator API Mini-project by Reid Aumann</p>
  </footer>
