  <main>
   <div id="animated-text-container">
    <h2 id="animated-text">Welcome! This app is designed to generate a random holiday in the United States!</h2>
   </div> 

    <p>Click the button below to find out the name of a random holiday:</p>
    <a href="/color-palette" class="btn2">Click Me</a>
  </main>

  <footer>
    <p>Holiday Generator API Mini-project by Reid Aumann</p>
  </footer>
