  <main>
   <div>
    <h2 style="color:#40A375; font-size:40px;">Welcome! <br>This app is designed to generate a random holiday in the United States for you.</h2>
   </div> 

    <p style="color:black; font-size:20px;">Click the button below to find out the name of a random holiday:</p>
    <a href="/holiday-gen" class="btn2" style="background:#40A375; color:white; font-size:20px;">Click Me</a>
  </main>

  <footer>
    <p style="color:#A3409F; font-size:10px;">Holiday Generator API Mini-project by Reid Aumann</p>
  </footer>
