<h1>Wise Quotes!</h1>

<div class="container">
    <div class="row">
      <% @quote_list.each do |quote| %>
          <div class="entry">
            <div class="quote"><%= quote["content"] %></div>
            <div class="author">-<%= quote["author"] %></div>
          </div>
      <% end %>
      </div>

</div>

<div class="container">
    <div class="row">
      <form action="/">
        <button class="button">New Quotes!</button>
      </form>
    </div>

</div>
