  <main>
   <div id="animated-text-container">
    <h2 id="animated-text">Welcome! This app is designed to produce a random color palette for you!</h2>
   </div> 
  </main>

  <footer>
    <p>Color Palette Generator API Mini-project by Reid Aumann</p>
  </footer>
